body {
    background: red;
}
.header {
    text-align: center;
}

#footer {
    background-color: #000;
    position: relative;
    height: 100px;
    margin-top: -100px;
    clear: both;
}

.newcard {
    height: 300px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border: solid black;
}

.splitcontent {
    margin-top: 30px;
}